In [1]:
import pandas as pd

In [9]:
ruta_excel = "C:/Users/brent/OneDrive/Escritorio/Python para Data Science & Machine Learning/Día7/Compras_desde_ads.xlsx"
ruta_xml = "C:/Users/brent/OneDrive/Escritorio/Python para Data Science & Machine Learning/Día7/Valores+de+acciones.xml"

In [11]:
df1 = pd.read_excel(ruta_excel)
df1.head()

   Id_usuario     Genero  Edad  Salario_estimado  Comprado
0    15624510  Masculino    19             19000         0
1    15810944  Masculino    35             20000         0
2    15668575   Femenino    26             43000         0
3    15603246   Femenino    27             57000         0
4    15804002  Masculino    19             76000         0

In [13]:
df2 = pd.read_xml(ruta_xml)
df2.head(5)

         date closingValue
0  01-05-2023        25,05
1  02-05-2023        24,45
2  03-05-2023        24,45
3  04-05-2023        23,98
4  05-05-2023        24,56

In [15]:
numeros = {
    'romanos': ['I', 'II', 'III', 'IV'],
    'arabigos': [1, 2, 3, 4],
    'texto': ['uno', 'dos', 'tres', 'cuatro']
}

In [17]:
df = pd.DataFrame(numeros)
df

  romanos  arabigos   texto
0       I         1     uno
1      II         2     dos
2     III         3    tres
3      IV         4  cuatro

In [19]:
df['Fechas'] = pd.Series(pd.date_range('20240101', periods=4))
df

  romanos  arabigos   texto     Fechas
0       I         1     uno 2024-01-01
1      II         2     dos 2024-01-02
2     III         3    tres 2024-01-03
3      IV         4  cuatro 2024-01-04

In [23]:
#Ruta donde queremos que se cree el archivo excel
df.to_excel('C:/Users/brent/OneDrive/Escritorio/Python para Data Science & Machine Learning/Día7/numeros2.xlsx', index=False)

In [25]:
df.to_csv('C:/Users/brent/OneDrive/Escritorio/Python para Data Science & Machine Learning/Día7/numeros3.csv', index=False)

In [31]:
#Abrir y Escribir Archivos desde Pandas 1
#Dado el siguiente diccionario que contiene datos de ventas diarias de una tienda:

data = {
    'Fecha': ['2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24'],
    'Producto': ['Manzanas', 'Peras', 'Naranjas', 'Plátanos', 'Uvas', 'Melocotones'],
    'Cantidad': [23, 15, 18, 30, 8, 20],
    'Precio': [1.2, 1.5, 1.0, 0.8, 2.0, 1.7]
}

In [35]:
#Realiza los siguientes pasos:
#Crea un DataFrame nombrado df_ventas  donde almacenes la información antes proporcionada.

df_ventas = pd.DataFrame(data)

In [43]:
#Crea una función llamada guardar_en_excel()    que guarde este DataFrame en un archivo llamado  ventas1.xlsx en la ruta siguiente: '/mnt/data/' 
# Definir la función
def guardar_en_excel(df):
    df.to_excel('C:/Users/brent/OneDrive/Escritorio/Python para Data Science & Machine Learning/Día7/mnt/data/ventas1.xlsx', index=False)

In [59]:
#Asegúrate de no incluir el índice del DataFrame en el archivo Excel.
# Llamar la función para guardar el archivo
 
def guardar_en_excel():
    df_ventas.to_excel('/mnt/data/ventas1.xlsx', index=False)

In [47]:
#Abrir y Escribir Archivos desde Pandas 2
data = {
    'Fecha': ['2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24'],
    'Producto': ['Manzanas', 'Peras', 'Naranjas', 'Plátanos', 'Uvas', 'Melocotones'],
    'Cantidad': [23, 15, 18, 30, 8, 20],
    'Precio': [1.2, 1.5, 1.0, 0.8, 2.0, 1.7]
}

In [49]:
#Realiza los siguientes pasos:
#Crea un DataFrame nombrado df_ventas donde almacenes la información antes proporcionada.
#Convierte la columna Fecha al formato datetime de Pandas con el siguiente formato dia/mes/año.
#Crea una funcion llamada guardar_en_excel() que guarde este DataFrame en un archivo llamado 'ventas2.xlsx' en la ruta siguiente: '/mnt/data/'
#Asegúrate de no incluir el índice del DataFrame en el archivo Excel.

In [53]:
#Abrir y Escribir Archivos desde Pandas 3
#Tu tarea consiste en realizar las siguientes acciones:
#Creación de DataFrame: Genera un DataFrame denominado df_ventas utilizando la información provista en el diccionario data.
#Cálculo de Precio Total: Añade al DataFrame df_ventas una nueva columna llamada Precio Total. Esta columna debe contener el precio total de cada venta, calculado como el producto de la cantidad vendida por el precio unitario de cada producto.
#Guardado de Datos en CSV: Desarrolla una función titulada guardar_en_csv() que exporte el DataFrame df_ventas a un archivo CSV. Nombra el archivo como ventas3.csv y guárdalo en la ruta /mnt/data/. Asegúrate de que el archivo CSV generado no incluya el índice del DataFrame.

In [55]:
df_ventas = pd.DataFrame(data)
 
# Crear la columna 'Precio Total'
df_ventas['Precio Total'] = df_ventas['Cantidad'] * df_ventas['Precio']
 
# Función para guardar el DataFrame en un archivo CSV
def guardar_en_csv():
    df_ventas.to_csv('/mnt/data/ventas3.csv', index=False)