In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'Col1': [100, 200, 300],
    'Col2': [400, 500, 600],
    'Col3': [700, 800, 900]
}, index=['fila1', 'fila2', 'fila3'])

df

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

In [6]:
# loc, se utiliza para seleccionar filas y columnas que tengas etiquetas especificas
df.loc['fila1']

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [8]:
type(df.loc['fila1'])

pandas.core.series.Series

In [10]:
df.loc[['fila1', 'fila3']]

       Col1  Col2  Col3
fila1   100   400   700
fila3   300   600   900

In [12]:
type(df.loc[['fila1', 'fila3']])

pandas.core.frame.DataFrame

In [14]:
df.loc['fila2':'fila3']

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [16]:
df.loc[[False, True, False]]

       Col1  Col2  Col3
fila2   200   500   800

In [18]:
df.loc[df['Col1'] > 150]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [20]:
df.loc[:, ['Col1', 'Col2']]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600

In [22]:
# iloc, selecciona filas y columnas basandose en las posiciones num√©ricas
df.iloc[0]

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [24]:
df.iloc[:, [0,1]]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600

In [26]:
df.iloc[1:3]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [42]:
#Acceder a Elementos del DataFrame con 'Ioc' e 'iloc' 1
#Utiliza loc para seleccionar los datos de la fila denominada 
#"fila2" en el siguiente DataFrame df.  Tu resultado debe ser una Serie de Pandas llamada resultado
df2 = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])

In [44]:
df2

       Nombre  Edad     Ciudad
fila1     Ana    25     Madrid
fila2    Luis    30  Barcelona
fila3  Carmen    22   Valencia

In [46]:
resultado = df2.loc['fila2']

In [ ]:
#Acceder a Elementos del DataFrame con 'Ioc' e 'iloc' 2
#Utiliza loc para seleccionar las filas "fila1" y "fila3" del DataFrame df. 
#Tu resultado debe ser un DataFrame nombrado resultado.
resultado = df2.loc['fila2','fila3']]